
* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body {
    min-height: 100vh;
}


.title-side {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 290px;
    background: #A2D1ED;
    box-shadow: 3px 0 15px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    padding: 20px;
    z-index: 100;
}

.title-name, .title-description, .source-description {
    padding: 5px; 
}

.title-side h1 {
    font-size: 60px;
}

.title-side h3 {
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
}

.title-side h2 {
    font-weight: 400;
    font-size: 20px;
}

footer{
    font-style: normal;
    font-weight: 300;
}
.main-content {
    position: relative;
    left: 330px;
    width: calc(100% - 330px);
    height: auto;
    background-color: #E9E9ED; 
    overflow-x: hidden;
    padding-left: 20px;
}

.graph-container {
    width: 100%;           
    padding: 10px;
    display: flex; 
    text-align: justify;
    
}

.graph-container h2 {
    text-align: center; 
}

.main-content p {
    font-size: 18px;
    margin: auto;
    padding: 8%;
}

#heat-graph {
    padding-top: 120px;
    padding-left: 70px;
    padding-bottom: 20px;

}

#donut-graph {
    padding-top: 90px;
    padding-left: 50px;
}
.donut-chart p {
    padding-top: 170px;
}

.geo-chart {
    padding-bottom: 50px;
}

#geo-graph {
    padding-top: 50px;
}

#highlight {
    background-color: transparents;
    font-weight: 500;

}
